@model  SchoolJournalModels.Course

<div>
    <h2>DETAILS</h2>
    <br />
    <p>@Html.DisplayNameFor(m => m.CourseID): @Model.SubjectID</p>
    <br />
    <h3>@Html.DisplayNameFor(m => m.CourseName): @Model.SubjectName</h3>

    <p>@Html.DisplayNameFor(m => m.LevelYear): @Model.LevelYear</p>
    <p>Teacher: @Html.ActionLink(@Model.Teachers.TeacherName.ToString(), "Details", "Teacher", new { id = Model.TeacherID }, null)</p>
    <br />
    <p>@Html.ActionLink("Back to subjects", "Index", "Course") | @Html.ActionLink("Back to homeworks", "Index", "Homework")</p>
</div>

