@model SchoolJournal.Models.Grade
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>DELETE</h2>
<h3>Are you sure you want to delete this information?</h3>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(t => t.GradeID)</dt>
        <dd>@Html.DisplayFor(t => t.GradeID)</dd>

        <dt>@Html.DisplayNameFor(t => t.Students.StudentName)</dt>
        <dd>@Html.DisplayFor(t => t.Students.StudentName)</dd>

        <dt>@Html.DisplayNameFor(t => t.Semesters.SemesterNumber)</dt>
        <dd>@Html.DisplayFor(t => t.Semesters.SemesterNumber)/@Html.DisplayFor(t => t.Semesters.SchoolYear)</dd>

        <dt>@Html.DisplayNameFor(t => t.Courses.CourseName)</dt>
        <dd>@Html.DisplayFor(t => t.Courses.CourseName)/(lvl.@Html.DisplayFor(t => t.Courses.LevelYear))</dd>

        <dt>@Html.DisplayNameFor(t => t.Mark)</dt>
        <dd>@Html.DisplayFor(t => t.Mark)</dd>

        <dt>@Html.DisplayNameFor(t => t.DateOfMark)</dt>
        <dd>@Html.DisplayFor(t => t.DateOfMark)</dd>

        <dt>@Html.DisplayNameFor(t => t.GradingWeight)</dt>
        <dd>@Html.DisplayFor(t => t.GradingWeight)</dd>

        <dt>@Html.DisplayNameFor(t => t.Observations)</dt>
        <dd>@Html.DisplayFor(t => t.Observations)</dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Grade")
        </div>
    }
</div>