@model SchoolJournalModels.Homework

<h2><strong>ADD HOMEWORK</strong></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Homework details</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(h => h.Students.StudentName, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @*DDL for StudentID*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(h => h.Subjects.SubjectName, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @*DDL for SubjectID*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(h => h.DateOfHomework, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(h => h.DateOfHomework, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(h => h.DateOfHomework, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(h => h.DueDate, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(h => h.DueDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(h => h.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(h => h.Details, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(h => h.Details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(h => h.Details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to list", "Index", "Homework")
</div>
