@model SchoolJournalModels.Homework

<div>
    <h2>UPDATE</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(h => h.HomeworkID)
        <div class="form-group">
            @Html.LabelFor(h => h.Students.StudentName)
            @*DDL for StudentID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(h => h.Subjects.SubjectName)
            @*DDL for StudentID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(h => h.DateOfHomework)
            @Html.TextBoxFor(h => h.DateOfHomework, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(h => h.DateOfHomework)
        </div>
        <div class="form-group">
            @Html.LabelFor(h => h.DueDate)
            @Html.TextBoxFor(h => h.DueDate, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(h => h.DueDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(h => h.Details)
            @Html.TextBoxFor(h => h.Details, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(h => h.Details)
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", "Homework");
    }
</div>