
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SchoolJournalModels.Teacher>

<br />
<h2>TEACHERS (@Model.Count records)</h2>
<br />
<div>
    <p>
        <strong>@Html.ActionLink("ADD NEW TEACHER", "Add", "Teacher")</strong>
    </p>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Teacher", FormMethod.Get))
    {
        <b>Search option: </b>
        @Html.RadioButton("option", "Name")<text> Name </text>
        @Html.TextBox("search") <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th><b>Name</b></th>
                <th><b>E-mail</b></th>
                <th><b>Phone</b></th>
                <th>@*<input class="form-control" id="myInput" type="text" placeholder="Search on page..">*@</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="4">
                        <i>Records not found</i>
                    </td>
                </tr>
            }
            else
            {
                foreach (var teach in Model)
                {
                    <tr>
                        <td>@teach.TeacherName</td>
                        <td>@teach.TeacherEmail</td>
                        <td>@teach.TeacherPhone</td>
                        <td>@Html.ActionLink("Details", "Details", "Teacher", new { @id = teach.TeacherID }, null) | 
                            @Html.ActionLink("Edit", "Update", "Teacher", new { @id = teach.TeacherID }, null) | 
                            @Html.ActionLink("Delete", "Delete", "Teacher", new { @id = teach.TeacherID }, null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, option = Request.QueryString["option"], search = Request.QueryString["search"] }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount teachers
</div>
@*<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>*@