
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SchoolJournalModels.Subject>

<h2>COURSES (@Model.Count() records)</h2>

<div>
    <p><strong>@Html.ActionLink("ADD NEW COURSE", "Add", "Subject")</strong></p>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Subject", FormMethod.Get))
    {
        <b>Search option: </b>
        @Html.RadioButton("option", "Subject")<text> Course </text>
        @Html.RadioButton("option", "Level")<text> Level year </text>
        @Html.RadioButton("option", "Teacher")<text> Teacher </text>
        @Html.TextBox("search") <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<div class="table-responsive">
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th><b>Course</b></th>
                <th><b>Level year</b></th>
                <th><b>Teacher</b></th>
                <th>@*<input class="form-control" id="myInput" type="text" placeholder="Search..">*@</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        <i>Records not found</i>
                    </td>
                </tr>
            }
            else
            {
                foreach (var subj in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => subj.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => subj.LevelYear)
                        </td>
                        <td>
                            @Html.ActionLink(@Html.DisplayFor(m => subj.Teachers.TeacherName).ToString(), "Details", "Teacher", new { id = subj.TeacherID }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Subject", new { id = subj.SubjectID }, null) |
                            @Html.ActionLink("Edit", "Update", "Subject", new { id = subj.SubjectID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Subject", new { id = subj.SubjectID }, null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, option = Request.QueryString["option"], search = Request.QueryString["search"] }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount courses
</div>
@*<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>*@
