@model SchoolJournalModels.Student

<div>
    <h2>DETAILS</h2>
    <br />
    <p>ID: @Model.StudentID</p>
    <br />
    <h3>Name: @Model.StudentName</h3>
    <br />
    <p>Details: @Model.Observations</p>
    <br />

    <br />
    <p>@Html.ActionLink("Back to students", "Index", "Student") | @Html.ActionLink("Back to homeworks", "Index", "Homework")</p>
</div>
