
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SchoolJournalModels.Student>

<br />
<h2>STUDENTS (@Model.Count records)</h2>
<br />
<div>
    <p>
        <strong>@Html.ActionLink("ADD NEW STUDENT", "Add", "Student")</strong>
    </p>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Student", FormMethod.Get))
    {
        <b>Search option: </b>
        @Html.RadioButton("option", "Name")<text> Name </text>
        @Html.TextBox("search") <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th><b>Name</b></th>
                <th><b>Details</b></th>
                <th><b>Photo</b></th>
                <th>@*<input class="form-control" id="myInput" type="text" placeholder="Search..">*@</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="4">
                        <i>Records not found</i>
                    </td>
                </tr>
            }
            else
            {
                foreach (var stud in Model)
                {
                <tr>
                    <td>@stud.StudentName</td>
                    <td>@stud.Observations</td>
                    <td>
                        @if (@stud.StudentPhoto != null)
                        {
                            <img src="~/Images/@stud.StudentPhoto" width="75" height="100" />
                        }
                        else
                        {
                            <img src="~/Images/avatar.JPG" width="75" height="100" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Student", new { @id = stud.StudentID }, null) |
                        @Html.ActionLink("Edit", "Update", "Student", new { @id = stud.StudentID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Student", new { @id = stud.StudentID }, null)
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, option = Request.QueryString["option"], search = Request.QueryString["search"] }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount students
</div>
@*<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>*@