@model SchoolJournalModels.GradeCategory

<div>
    <h2>DETAILS</h2>
    <br />
    <p>@Html.DisplayNameFor(gc => gc.CategoryID): @Model.CategoryID</p>
    <br />
    <h3>@Html.DisplayNameFor(gc => gc.CategoryName): @Model.CategoryName</h3>

    <p>@Html.DisplayNameFor(gc => gc.Share): @Model.Share</p>
    <br />
    <p>@Html.ActionLink("Back to list", "Index", "GradeCategory")</p>
</div>
