@model SchoolJournalModels.GradeCategory

<div>
    <h2>UPDATE</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(gc => gc.CategoryID)
        <div class="form-group">
            @Html.LabelFor(gc => gc.CategoryName)
            @Html.TextBoxFor(gc => gc.CategoryName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(gc => gc.CategoryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(gc => gc.Share)
            @Html.TextBoxFor(gc => gc.Share, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(gc => gc.Share)
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", "GradeCategory");
    }
</div>