@model  SchoolJournalModels.Grade

<div>
    <h2>DETAILS</h2>
    <br />
    <p>@Html.DisplayNameFor(g => g.GradeID): @Model.GradeID</p>
    <p>@Html.DisplayNameFor(g => g.Students.StudentName): @Html.ActionLink(@Model.Students.StudentName.ToString(), "Details", "Student", new { id = Model.StudentID }, null)</p>
    <br />
    <h3>@Html.DisplayNameFor(g => g.Courses.CourseName): @Html.ActionLink(@Model.Courses.CourseName.ToString(), "Details", "Course", new { id = Model.CourseID }, null)</h3>

    <p>@Html.DisplayNameFor(g => g.Semesters.SemesterNumber): @Html.ActionLink(@Model.Semesters.SemesterNumber.ToString(), "Details", "Subject", new { id = Model.SemesterID }, null)</p>
    <br />
    <p>@Html.DisplayNameFor(g => g.Mark): @Model.Mark</p>
    <br />
    <p>@Html.DisplayNameFor(g => g.DateOfMark): @Model.DateOfMark</p>
    <br />
    <p>@Html.DisplayNameFor(g => g.GradingWeight): @Model.GradingWeight</p>
    <br />
    <p>@Html.DisplayNameFor(g => g.Observations): @Model.Observations</p>
    <br />
    <p>@Html.ActionLink("Back to list", "Index", "Grade")</p>
</div>

