
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SchoolJournalModels.Grade>

<h2>GRADES (@Model.Count() records)</h2>

<div>
    <p><strong>@Html.ActionLink("ADD NEW GRADE", "Add", "Grade")</strong></p>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Grade", FormMethod.Get))
    {
        <b>Search option: </b>
        @Html.RadioButton("option", "Subject")<text> Course </text>
        @Html.RadioButton("option", "Student")<text> Student </text>
        @Html.RadioButton("option", "Semester")<text> Semester </text>
        @Html.TextBox("search") <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<div class="table-responsive">
    <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th><b>Student</b></th>
                <th><b>Course</b></th>
                <th><b>Level Year</b></th>
                <th><b>School Year</b></th>
                <th><b>Semester</b></th>
                <th><b>Grading Weight</b></th>
                <th><b>Grade</b></th>
                <th><b>Date of grade</b></th>
                <th><b>Details</b></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">
                        <i>Records not found</i>
                    </td>
                </tr>
            }
            else
            {
                foreach (var grade in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(g => grade.Students.StudentName)</td>
                    <td>@Html.DisplayFor(g => grade.Courses.CourseName)</td>
                    <td>@Html.DisplayFor(g => grade.Courses.LevelYear)</td>
                    <td>@Html.DisplayFor(g => grade.Semesters.SchoolYear)</td>
                    <td>@Html.DisplayFor(g => grade.Semesters.SemesterNumber)</td>
                    <td>@Html.DisplayFor(g => grade.GradingWeight)</td>
                    <td>@Html.DisplayFor(g => grade.Mark)</td>
                    <td>@Html.DisplayFor(g => grade.DateOfMark)</td>
                    <td>@Html.DisplayFor(g => grade.Observations)</td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Grade", new { id = grade.GradeID }, null) |
                        @Html.ActionLink("Edit", "Update", "Grade", new { id = grade.GradeID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Grade", new { id = grade.GradeID }, null)
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, option = Request.QueryString["option"], search = Request.QueryString["search"] }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount grades
</div>
