@model SchoolJournalModels.Grade

<div>
    <h2>UPDATE</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(g => g.GradeID)
        <div class="form-group">
            @Html.LabelFor(g => g.Students.StudentName)
            @Html.DropDownListFor(g => g.StudentID, new SelectList(Model.StudentsList, "Value", "Text"))
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Subjects.SubjectName)
            @Html.DropDownListFor(g => g.SubjectID, new SelectList(Model.SubjectsList, "Value", "Text"))
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Semesters.SemesterNumber)
            @Html.DropDownListFor(g => g.SemesterID, new SelectList(Model.SemestersList, "Value", "Text"))
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.GradeCategories.CategoryName)
            @Html.DropDownListFor(g => g.CategoryID, new SelectList(Model.GradeCategoriesList, "Value", "Text"))
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Mark)
            @Html.TextBoxFor(g => g.Mark, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.Mark)
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.DateOfGrade)
            @Html.TextBoxFor(g => g.DateOfGrade, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.DateOfGrade)
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Observations)
            @Html.TextBoxFor(g => g.Observations, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.Observations)
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", "Grade");
    }
</div>