@model SchoolJournalModels.Grade

<div>
    <h2>UPDATE</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(g => g.GradeID)
        <div class="form-group">
            @Html.LabelFor(g => g.Students.StudentName)
            @*DDL for StudentID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Subjects.SubjectName)
            @*DDL for StudentID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Semesters.SemesterNumber)
            @*DDL for SemesterID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.GradeCategories.CategoryName)
            @*DDL for CategoryID*@
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Mark)
            @Html.TextBoxFor(g => g.Mark, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.Mark)
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.DateOfGrade)
            @Html.TextBoxFor(g => g.DateOfGrade, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.DateOfGrade)
        </div>
        <div class="form-group">
            @Html.LabelFor(g => g.Observations)
            @Html.TextBoxFor(g => g.Observations, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(g => g.Observations)
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", "Grade");
    }
</div>